=radius ()
  -webkit-border-radius: 34
  -moz-border-radius: 34
  border-radius: 34px

button.ibtn
  font-size: 14px
  padding: 5px 20px 5px 20px
  margin: 0.5em 0px
  text-transform: uppercase
  letter-spacing: 1px
  +radius()
  color: #fff
  transition: .5s
  &:hover
    +sombra()

  &:visited
    text-decoration: none

  &:active
    text-decoration: none

button.ibtn-primary
  @extend .ibtn
  background: $rosa
  color: #ffffff
  opacity: 0.9

  &:hover
    color: #ffffff
    opacity: 1
    text-decoration: none

button.ibtn-default
  @extend .ibtn
  background: #ffffff
  color: $rosa
  opacity: 0.9
  border: 1px solid $rosa
  &:hover
    background: $rosa
    color: #ffffff
    opacity: 1