.galeria
  
  &.thumbnails img
    opacity: 0.6

    &:hover
      opacity: 1

    &.selected
      opacity: 1

  &.imagenes img
    position: absolute
    left: 0
    -webkit-transition: opacity 1s ease-in-out
    -moz-transition: opacity 1s ease-in-out
    -o-transition: opacity 1s ease-in-out
    transition: opacity 1s ease-in-out
    opacity: 0
    
    &.activa
      opacity: 1
      


