.itabpanel

  .header
    text-align: center
    border-bottom: 1px solid #dcdbdc

    a
      text-decoration: none
      line-height: 34px
      letter-spacing: 1px
      color: #736f73
      font-weight: bold
      font-size: 16px
      padding: 0 1em .5em 1em

      &.activo
        color: $azul
        border-bottom: 2px solid $azul

  .panel
    margin: 1em 5em 1em 5em
    display: none
    height: 200px
    overflow: auto

    &.activo
      display: block
        