ul.nostyle-list
  list-style-type: none
  margin: 0
  padding: 0 0 0 20px

ul.checks-list
  @extend .nostyle-list
  li:before
    font-family: FontAwesome
    content: "\f00c"
    margin: 0 5px 0 -15px
    color: #337ab7
