=float-left
  float: left
  display: inline-block
  position: relative

=float-right
  float: right
  display: inline-block
  position: relative


nav.ifixnav
  background: $azul
  padding: 1em
  border: 0
  margin: 0
  position: fixed
  top: 0
  z-index: 99999
  width: 100%
  height: 60px
  line-height: 40px

  +clearfix
  
  .itel
    +float-left
    color: #FFFFFF
    font-size: 18px
    margin: 0 2em 0 0

  .ilogo
    +float-left
    width: 160px
    margin: 0 2em 0 0

  ul
    list-style: none
    padding: 0
    +float-right

    li
      float: left
      display: inline-block
      position: relative
      margin-right: 10px
      transition: 0.3s ease
      &:hover
        border-bottom: 5px solid $rosa


      a
        color: #FFFFFF
        margin-right: 2em 
        text-decoration: none
        

      a:active
        text-decoration: none

  .form-wrapper

    & h3
      font-size: 18px
      text-align: center
      font-weight: 900
      color: $azul

    & form
      margin: 0 0 1em 0

    display: none
    position: absolute
    width: 300px
    left: -200px
    background-color: #fff
    border: 1px solid #ccc
    border-radius: 4px
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)
    box-shadow: 0 6px 12px rgba(0,0,0,.175)
    padding: 1em

    .group
      position: relative
      margin-top: 10px

    .label
      position: absolute
      left: 0
      top: 30px
      color: $rosa
      background-color: #fff
      z-index: 10
      transition: transform 150ms ease-out, font-size 150ms ease-out

    .focused .label
      transform: translateY(-200%)

    .input
      position: relative
      padding: 12px 0px 0 0
      width: 100%
      outline: 0
      border: 0
      box-shadow: 0 1px 0 0 #e5e5e5
      transition: box-shadow 150ms ease-out

    input[id="usuario"]
      border-bottom: 1px solid $rosa
      
      &:focus 
        box-shadow: 0 2px 0 0 blue

    .input.filled 
      box-shadow: 0 2px 0 0 lightgreen

  .imob-trigger
    +float-right

ul.imob-menu
  list-style: none
  display: none
  width: 100%
  margin: 0
  position: absolute
  top: 60px
  z-index: 9999
  background-color: $azul

  li
    margin: 0
    display: block
    padding-bottom: 1em

    a
      display: block
      width: 100%
      padding: .5em
      transition: .5s
      color: #fff
      border-bottom: 1px solid $azul
      &:hover
        text-decoration: none
        border-bottom: 1px solid $rosa




