div.relacionados
  margin: 0 5em 2em 5em
  
span.relacionados  
  h3
    font-size: 1.2em
    letter-spacing: 1px
    line-height: 0.5em

  .precio
    color: $rosa
    font-size: 1em
    display: block

  .descripcion
    font-size: 1.2em
    letter-spacing: 1px
    line-height: 1.8em