=clearfix
  &:after
    content: ""
    visibility: hidden
    display: block
    height: 0
    clear: both

=sombra()
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.225)
  box-shadow: 0 6px 12px rgba(0,0,0,.225)

$rosa: #ff4081
$azul: #3551ad