@import variables
@import tipografia
@import botones
@import menunav
@import listas
@import prods_rel
@import galeria
@import itabpanel

* 
  box-sizing: border-box

.imain
  margin: 60px 0 60px 0

footer
  background-color: #333
  padding: 2em

  .header
    border-bottom: 1px solid #000

  .ilogo
    float: left
    display: inline-block
    position: relative
    width: 160px
    margin: 2em 0 2em 0
    +clearfix

  a
    color: #FFF
    line-height: 3em

  .caption
    color: #FFF
    border-bottom: 2px solid $azul
    width: 25%

  .pie
    background-color: #010101
    span
      color: #FFF

  ul.iconos
    list-style: none
    float: right
    position: relative
    +clearfix
    li
      color: #FFF
      display: inline-block      
      margin: 1em