@charset "UTF-8";
.precio {
  font-size: 2em;
  color: #ff4081;
  line-height: 2.5em;
  font-weight: 650;
  display: inline-block; }

.titulo {
  line-height: 2.5em;
  font-size: 18px;
  display: block;
  font-weight: bold; }

button.ibtn, button.ibtn-primary, button.ibtn-default {
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  margin: 0.5em 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 34;
  -moz-border-radius: 34;
  border-radius: 34px;
  color: #fff;
  transition: 0.5s; }
  button.ibtn:hover, button.ibtn-primary:hover, button.ibtn-default:hover {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.225);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.225); }
  button.ibtn:visited, button.ibtn-primary:visited, button.ibtn-default:visited {
    text-decoration: none; }
  button.ibtn:active, button.ibtn-primary:active, button.ibtn-default:active {
    text-decoration: none; }

button.ibtn-primary {
  background: #ff4081;
  color: #ffffff;
  opacity: 0.9; }
  button.ibtn-primary:hover {
    color: #ffffff;
    opacity: 1;
    text-decoration: none; }

button.ibtn-default {
  background: #ffffff;
  color: #ff4081;
  opacity: 0.9;
  border: 1px solid #ff4081; }
  button.ibtn-default:hover {
    background: #ff4081;
    color: #ffffff;
    opacity: 1; }

nav.ifixnav {
  background: #3551ad;
  padding: 1em;
  border: 0;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 60px;
  line-height: 40px; }
  nav.ifixnav:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  nav.ifixnav .itel {
    float: left;
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    font-size: 18px;
    margin: 0 2em 0 0; }
  nav.ifixnav .ilogo {
    float: left;
    display: inline-block;
    position: relative;
    width: 160px;
    margin: 0 2em 0 0; }
  nav.ifixnav ul {
    list-style: none;
    padding: 0;
    float: right;
    display: inline-block;
    position: relative; }
    nav.ifixnav ul li {
      float: left;
      display: inline-block;
      position: relative;
      margin-right: 10px;
      transition: 0.3s ease; }
      nav.ifixnav ul li:hover {
        border-bottom: 5px solid #ff4081; }
      nav.ifixnav ul li a {
        color: #FFFFFF;
        margin-right: 2em;
        text-decoration: none; }
      nav.ifixnav ul li a:active {
        text-decoration: none; }
  nav.ifixnav .form-wrapper {
    display: none;
    position: absolute;
    width: 300px;
    left: -200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 1em; }
    nav.ifixnav .form-wrapper h3 {
      font-size: 18px;
      text-align: center;
      font-weight: 900;
      color: #3551ad; }
    nav.ifixnav .form-wrapper form {
      margin: 0 0 1em 0; }
    nav.ifixnav .form-wrapper .group {
      position: relative;
      margin-top: 10px; }
    nav.ifixnav .form-wrapper .label {
      position: absolute;
      left: 0;
      top: 30px;
      color: #ff4081;
      background-color: #fff;
      z-index: 10;
      transition: transform 150ms ease-out, font-size 150ms ease-out; }
    nav.ifixnav .form-wrapper .focused .label {
      transform: translateY(-200%); }
    nav.ifixnav .form-wrapper .input {
      position: relative;
      padding: 12px 0px 0 0;
      width: 100%;
      outline: 0;
      border: 0;
      box-shadow: 0 1px 0 0 #e5e5e5;
      transition: box-shadow 150ms ease-out; }
    nav.ifixnav .form-wrapper input[id="usuario"] {
      border-bottom: 1px solid #ff4081; }
      nav.ifixnav .form-wrapper input[id="usuario"]:focus {
        box-shadow: 0 2px 0 0 blue; }
    nav.ifixnav .form-wrapper .input.filled {
      box-shadow: 0 2px 0 0 lightgreen; }
  nav.ifixnav .imob-trigger {
    float: right;
    display: inline-block;
    position: relative; }

ul.imob-menu {
  list-style: none;
  display: none;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 60px;
  z-index: 9999;
  background-color: #3551ad; }
  ul.imob-menu li {
    margin: 0;
    display: block;
    padding-bottom: 1em; }
    ul.imob-menu li a {
      display: block;
      width: 100%;
      padding: 0.5em;
      transition: 0.5s;
      color: #fff;
      border-bottom: 1px solid #3551ad; }
      ul.imob-menu li a:hover {
        text-decoration: none;
        border-bottom: 1px solid #ff4081; }

ul.nostyle-list, ul.checks-list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 20px; }

ul.checks-list li:before {
  font-family: FontAwesome;
  content: "";
  margin: 0 5px 0 -15px;
  color: #337ab7; }

div.relacionados {
  margin: 0 5em 2em 5em; }

span.relacionados h3 {
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 0.5em; }
span.relacionados .precio {
  color: #ff4081;
  font-size: 1em;
  display: block; }
span.relacionados .descripcion {
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 1.8em; }

.galeria.thumbnails img {
  opacity: 0.6; }
  .galeria.thumbnails img:hover {
    opacity: 1; }
  .galeria.thumbnails img.selected {
    opacity: 1; }
.galeria.imagenes img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0; }
  .galeria.imagenes img.activa {
    opacity: 1; }

.itabpanel .header {
  text-align: center;
  border-bottom: 1px solid #dcdbdc; }
  .itabpanel .header a {
    text-decoration: none;
    line-height: 34px;
    letter-spacing: 1px;
    color: #736f73;
    font-weight: bold;
    font-size: 16px;
    padding: 0 1em 0.5em 1em; }
    .itabpanel .header a.activo {
      color: #3551ad;
      border-bottom: 2px solid #3551ad; }
.itabpanel .panel {
  margin: 1em 5em 1em 5em;
  display: none;
  height: 200px;
  overflow: auto; }
  .itabpanel .panel.activo {
    display: block; }

* {
  box-sizing: border-box; }

.imain {
  margin: 60px 0 60px 0; }

footer {
  background-color: #333;
  padding: 2em; }
  footer .header {
    border-bottom: 1px solid #000; }
  footer .ilogo {
    float: left;
    display: inline-block;
    position: relative;
    width: 160px;
    margin: 2em 0 2em 0; }
    footer .ilogo:after {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both; }
  footer a {
    color: #FFF;
    line-height: 3em; }
  footer .caption {
    color: #FFF;
    border-bottom: 2px solid #3551ad;
    width: 25%; }
  footer .pie {
    background-color: #010101; }
    footer .pie span {
      color: #FFF; }
  footer ul.iconos {
    list-style: none;
    float: right;
    position: relative; }
    footer ul.iconos:after {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both; }
    footer ul.iconos li {
      color: #FFF;
      display: inline-block;
      margin: 1em; }

/*# sourceMappingURL=ifix-challenge.css.map */
